@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --DarkBlue: hsl(240, 37.9%, 20.2%);
    --GrayishBlue: hsl(240, 17.6%, 76.7%);
}

*, *::before, *::after {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    z-index: 0;
    box-sizing: border-box;
} 

body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.375;
    color: var(--DarkBlue);
    height: 100vh;
}


.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    margin: auto;
}

.left_col {
    z-index: 1;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-start;
    margin-right: -150px;
    background: url('../images/pattern-curve.svg') no-repeat bottom left;
}

.quote {
    margin-left: 95px ;
    margin-bottom: -45px;
}

blockquote {
    width: 635px;
}


cite {
    margin-top: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.9;
    color: var(--GrayishBlue);
    margin-bottom: 200px;
}

em {
    font-weight: 700;
    color: var(--DarkBlue);
}


.right_col {
    flex-direction: column;
    background: url('../images/pattern-bg.svg') no-repeat center;
    width: 694px;
    height: 1040px;
}

.shadow {
    box-shadow: 0 15px 20px -10px hsla(240, 51.7%, 29.2%, 0.1);
}

.portrait {
    border-radius: 5px;
    
}

.button-container {
    background-color: white;
    height: 56px;
    width: 112px;
    border-radius: 28px;
    margin-top: -35px;
    margin-right: 300px;
    justify-content: space-between;
}

button {
    background-color: transparent;
    margin: 15px;
    border: none;
}

button:hover {
    cursor: pointer;
}

.second_slide {
    display: none;
}
