@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    --DarkBlue: hsl(240, 37.9%, 20.2%);
    --GrayishBlue: hsl(240, 17.6%, 76.7%);
}

*, *::before, *::after {
    margin: auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    z-index: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100vh;
    background: url('../images/pattern-curve.svg') no-repeat bottom left;
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
}


.quote-section {
    /* border: 1px solid blue; */
    flex-basis: 44.1%;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.375;
    color: var(--DarkBlue);
}

.quotes {
    margin-left: 95px;
    margin-bottom: -45px;
}

cite {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.9;
    color: var(--GrayishBlue);
    margin-top: 32px;
}

em {
    font-weight: 700;
    color: var(--DarkBlue);
}


.portrait-section {
    /* border: 1px solid red; */
    flex-basis: 48.2%;

}